@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

main{
  background-color: rgb(0,0,0,0.05);
  font-family: 'Open Sans', sans-serif;
}

/*****************************Header Title and Image Style ***************************/

h1, h3{
  font-weight: 800;
}

#title h1{
  font-family: 'Sacramento', cursive;
  font-size: min(3rem,8vw);
}

#title p{
  font-family: 'Bodoni Moda', serif;
  font-weight: 600;
  font-size: min(0.9rem,2.3vw)
}

#title{
  padding: 10px 0;
}

#img-div{
  background-color: white;
  display: flex;
  justify-content: center;
  width: 100%;
}

#img-div img{
  display: block;
  height: auto;
  max-width: 100%;
  max-height: 45rem;
}

#img-div figcaption{
  padding: 1em 0;
  font-size: min(3.5vw,16px);
}

/****************************** Tribute - Info Style*********************************/

#header, figcaption, .extra-info{
  text-align: center;
}

#tribute-info-title{
  font-family: 'Bodoni Moda', serif;
}

#tribute-info-details{
    font-size: min(3.5vw,17px);
}

#tribute-info, blockquote{
  width: clamp(220px,60%,500px);
  margin:auto;
}

#tribute-info h3{
  font-size: min(21px,4vw);
  text-align: center;
}

#tribute-info ul{
  margin: 3rem 0;
}

blockquote{
  font-size: min(3vw,16px);
}

.extra-info{
  font-weight: bold;
  font-size: min(1.1rem,4.5vw);
  font-family: 'Bodoni Moda', serif;
  padding: 30px 0px 30px 0;
}

.copy-right{
  text-align: center;
  font-family: sans-serif;
  font-weight: 300;
  padding-bottom: 2.5rem;
}
